services:
  - type: web
    name: aerodeals-api
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: DATABASE_NAME
        value: aerodeals
      - key: SECRET_KEY
        sync: false
      - key: ALGORITHM
        value: HS256
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: 30